<h2>Check out!</h2>

<% var total = 0%>
<% cart2.forEach(function(m){%>
	<div>
		<h4>
			<%=m.name%>
		</h4>

		Price: $<%=m.price%> <br>
		<%total += m.price%>
		<a class="delete-product"  href="/cart/<%=m.id%>">Delete</a>
		<hr>
	</div>
<%});%>
<h3>Total: $<%=total%></h3>
<input value="Check Out" type="button">
