<h2>Your credit card information</h2>

<form method="POST" action="/fruit">
	Name on card: <input type="text" name="name" required> <br>
	Card number: <input type="integer" name="cardnumber" required> <br>
	Expired number: <input type="integer" name="expire" required>
	<input type="submit" value="Add Fruit">
</form>